@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the keyframes for the cursor animation */
@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: flicker 0.5s infinite;
  margin-bottom: 4px;
}

.alertButton:hover {
  background-color: initial;
  color: initial;
  text-decoration: initial;
}
